.font-small{font-size:0.8em;}.font-1x{font-size:1em;}.font-2x{font-size:1.5em;}.font-3x{font-size:2em;}.font-4x{font-size:2.5em;}.font-5x{font-size:3em;}.font-6x{font-size:3.5em;}.font-7x{font-size:6em;}.font-8x{font-size:8em;}
.offset-1x{padding-left:10px;}.offset-2x{padding-left:20px;}.offset-3x{padding-left:30px;}.offset-4x{padding-left:40px;}.offset-5x{padding-left:50px;}
.blk-1x,.blk-2x,.blk-3x,.blk-4x,.blk-4x{clear:both;overflow:hidden;}.blk-1x{height:10px;}.blk-2x{height:20px;}.blk-3x{height:30px;}.blk-4x{height:40px;}.blk-5x{height:50px;}
.col-fixed50{width:50px;}.col-fixed75{width:75px;}.col-fixed100{width:100px;}.col-fixed125{width:125px;}.col-fixed150{width:150px;}.col-fixed175{width:175px;}.col-fixed200{width:200px;}
.row-1x{position:relative;margin:0 -5px;}.row-2x{position:relative;margin:0 -10px;}.row-3x{position:relative;margin:0 -15px;}.row-4x{position:relative;margin:0 -20px;}.row-5x{position:relative;margin:0 -25px;}.row-6x{position:relative;margin:0 -30px;}
.group-span-xs > span{margin:0 2px;}.group-span-1x > span{margin:0 5px;}.group-span-2x > span{margin:0 10px;}.group-span-3x > span{margin:0 15px;}.group-span-4x > span{margin:0 20px;}.group-span-5x > span{margin:0 25px;}.group-span-5x > span{margin:0 30px;}
.padding-lr-1x,.text-group-1x > span{padding:0 5px;}.padding-lr-2x,.text-group-2x > span{padding:0 10px;}.padding-lr-3x,.text-group-3x > span{padding:0 15px;}.padding-lr-4x,.text-group-4x > span{padding:0 20px;}.padding-lr-5x,.text-group-5x > span{padding:0 25px;}.padding-lr-6x,.text-group-6x > span{padding:0 30px;}
.padding-tb-1x{padding:5px 0;}.padding-tb-2x{padding:10px 0;}.padding-tb-3x{padding:15px 0;}.padding-tb-4x{padding:20px 0;}.padding-tb-5x{padding:25px 0;}.padding-tb-6x{padding:30px 0;}
.vm{vertical-align:middle;}.vt{vertical-align:top;}.margin-0{margin:0;}.clear{clear:both;}.no-list-style{list-style-type:none;padding-left: 1.75rem;margin:0;}.font-normal{font-style:normal;}.relative{position:relative;}.inline-block{display:inline-block;}.divider{border-bottom:1px solid #ddd;height:1px;overflow:hidden;clear:both;}.dark.divider{border-bottom:1px solid #272727;height:1px;overflow:hidden;clear:both;}.disabled{opacity:0.2;}
.tip{font-size:12px;line-height:1.5;margin:0;max-width:500px}.text-break.word-break{word-break:break-all;line-height:1.2;}.table>thead>tr>th,.table>tbody>tr>th,.table>tfoot>tr>th,.table>thead>tr>td,.table>tbody>tr>td,.table>tfoot>tr>td{vertical-align:middle}
[class^="text-group-"] > span, [class*="text-group-"] > span{ display:inline-block; white-space:nowrap; word-break:break-all;word-wrap:break-word;}
.li li:before,.li span:before{ display:inline-block; position:relative ;left:-3px;top:-3px; margin-right:5px; width:4px;height:4px;content:'';border-radius:2px;background:#666;}
.li li:hover:before,.li span:hover:before{background:#00aced;}
body,h1,h2,h3,h4,h5,h6{font-family:"Microsoft Yahei","Helvetica Neue","Lantinghei SC","Hiragino Sans GB",Arial,sans-serif;}
body{background:#eee;}
a{color:#000}
a:hover,a:focus{text-decoration:none;color:#03a9f4}
::selection{background:#03a9f4;color:#fff}
.bold{font-weight:bolder}
.copyright{padding:20px 0;font-size:10px;}
.form-control{border-radius:2px;box-shadow:none}
.small.container{ width:960px; margin:auto;}
.bg-popurle{background:#673ab7}.bg-blue{background:#00aced}.bg-orange{background:#ff5722}.bg-green{background:#8bc34a}.bg-red{background:#e51c23}.bg-white{background:#fff}.bg-black{background:#212121}.bg-darkgrey{background:#636363}
.bg-popurle,.bg-blue,.bg-orange,.bg-green,.bg-red{color:#fff}.bg-gray{color:#fbfbfb}.bg-white{background:#fff}.bg{background:#eee}
a.bg-info:hover{background-color:#039bef}a.text-info:hover{color:#039bef;}.text-info{color:#03a9f4}
a.bg-success:hover{background-color:#dd191d}a.text-success:hover{color:#dd191d}.text-success{color:#8bc34a;}
a.bg-warning:hover{background-color:#ffca28}a.text-warning:hover{color:#ffca28}.text-warning{color:#ffc107}
a.bg-danger:hover{background-color:#e84e40}a.text-danger:hover{color:#e84e40}.text-danger{color:#e51c23}
a.bg-dark:hover{background-color:#bdbdbd}a.text-dark:hover{color:#bdbdbd}.text-dark{color:#9e9e9e}
.text-primary{color:#03a9f4}
.bg-herun{background: url(./bg-2.jpg) no-repeat 0 50% ;background-size:cover;}

.btn{font-weight:500;border-radius:2px;outline:0!important;color:#fff;}
.btn-default{color:#666!important;background-color:#eee;border-color:#ddd;}.btn-default:hover,.btn-default:focus,.btn-default:active,.btn-default.active,.open .dropdown-toggle.btn-default{background-color:#fff;border-color:#ddd}.btn-default:active,.btn-default.active,.open .dropdown-toggle.btn-default{background-image:none;background-color:#ddd;}
.btn-primary{background-color:#03a9f4;border-color:#03a9f4}.btn-primary:hover,.btn-primary:focus,.btn-primary:active,.btn-primary.active,.open .dropdown-toggle.btn-primary{background-color:#29b6f6;border-color:#29b6f6}.btn-primary:active,.btn-primary.active,.open .dropdown-toggle.btn-primary{background-image:none;background-color:#039bef;}
.btn-success{background-color:#8bc34a;border-color:#8bc34a}.btn-success:hover,.btn-success:focus,.btn-success:active,.btn-success.active,.open .dropdown-toggle.btn-success{background-color:#9ccc65;border-color:#8bc34a}.btn-success:active,.btn-success.active,.open .dropdown-toggle.btn-success{background-image:none;background-color:#7cb342;}
.btn-info{background-color:#5677fc;border-color:#5677fc}.btn-info:hover,.btn-info:focus,.btn-info:active,.btn-info.active,.open .dropdown-toggle.btn-info{background-color:#738ffe;border-color:#5677fc;}.btn-info:active,.btn-info.active,.open .dropdown-toggle.btn-info{background-image:none;background-color:#4e6cef;}
.btn-warning{background-color:#ffc107;border-color:#ffc107}.btn-warning:hover,.btn-warning:focus,.btn-warning:active,.btn-warning.active,.open .dropdown-toggle.btn-warning{background-color:#ffca28;border-color:#e51c23}.btn-warning:active,.btn-warning.active,.open .dropdown-toggle.btn-warning{background-image:none;background-color:#ffb300;}
.btn-danger{background-color:#e51c23;border-color:#e51c23}.btn-danger:hover,.btn-danger:focus,.btn-danger:active,.btn-danger.active,.open .dropdown-toggle.btn-danger{background-color:#e84e40;border-color:#e51c23}.btn-danger:active,.btn-danger.active,.open .dropdown-toggle.btn-danger{background-image:none;background-color:#dd191d;}
.btn-dark{background-color:#9e9e9e;border-color:#9e9e9e}.btn-dark:hover,.btn-dark:focus,.btn-dark:active,.btn-dark.active,.open .dropdown-toggle.btn-dark{background-color:#bdbdbd;border-color:#9e9e9e}.btn-dark:active,.btn-dark.active,.open .dropdown-toggle.btn-dark{background-image:none;background-color:#757575;}
.btn-black{background-color:#212121;border-color:#212121}.btn-black:hover,.btn-black:focus,.btn-black:active,.btn-black.active,.open .dropdown-toggle.btn-black{background-color:#424242;border-color:#424242}.btn-black:active,.btn-black.active,.open .dropdown-toggle.btn-black{background-image:none;background-color:#000;}
.btn-icon{width:34px;height:34px;padding:0!important;text-align:center}.btn-icon i{position:relative;top:-1px;line-height:34px}.btn-icon.btn-sm{width:30px;height:30px}.btn-icon.btn-sm i{line-height:30px}.btn-icon.btn-lg{width:45px;height:45px}.btn-icon.btn-lg i{line-height:45px}
.btn-rounded{padding-right:15px;padding-left:15px;border-radius:50px}
.btn-rounded.btn-lg{padding-right:25px;padding-left:25px}
.btn>i.pull-left,.btn>i.pull-right{line-height:1.42857143}
.btn-block{padding-right:12px;padding-left:12px}
.btn-group-vertical>.btn:first-child:not(:last-child){border-top-right-radius:2px}
.btn-group-vertical>.btn:last-child:not(:first-child){border-bottom-left-radius:2px}
.btn-addon i{position:relative;float:left;width:34px;height:34px;margin:-7px -12px;margin-right:12px;line-height:34px;text-align:center;background-color:rgba(0,0,0,0.1);border-radius:2px 0 0 2px}
.btn-addon i.pull-right{margin-right:-12px;margin-left:12px;border-radius:0 2px 2px 0}
.btn-addon.btn-sm i{width:30px;height:30px;margin:-6px -10px;margin-right:10px;line-height:30px}
.btn-addon.btn-sm i.pull-right{margin-right:-10px;margin-left:10px}
.btn-addon.btn-lg i{width:45px;height:45px;margin:-11px -16px;margin-right:16px;line-height:45px}
.btn-addon.btn-lg i.pull-right{margin-right:-16px;margin-left:16px}
.btn-addon.btn-default i{background-color:transparent;border-right:1px solid #dee5e7}
.btn-link{color:#673ab7}
.label-info{background:#03a9f4}.large.btn{font-size:24px;padding:10px 50px}.xlarge.btn{font-size:26px;padding:15px 80px}.large.btn{font-size:24px;padding:10px 50px}.xlarge.btn{font-size:26px;padding:15px 80px}
.pagination>.active>a,.pagination>.active>span,.pagination>.active>a:hover,.pagination>.active>span:hover,.pagination>.active>a:focus,.pagination>.active>span:focus{z-index:2;color:#fff;cursor:default;background-color:#ffc107;border-color:#ffc107;}
.pagination>li>a,.pagination>li>span{color:#000;opacity:0.67;padding:8px 12px 4px;}
.pagination>li>a:hover{color:#ffc107;}
.list-group.no-radius .list-group-item{border-radius:0!important}
.list-group.no-borders .list-group-item{border:0}
.list-group.no-bg .list-group-item{background-color:transparent}
.list-group-item{display:block;padding-right:15px;border:0;border-bottom:1px solid #ddd;margin-bottom:0}
.box-sm .list-group-item{border:1px solid #ddd;margin-bottom:-1px;}
a.list-group-item:hover,a.list-group-item:focus,a.list-group-item.hover{background-color:#f6f6f6}
.list-group-item.media{margin-top:0}
.list-group-item.active,.list-group-item.active:hover{color:#fff;background-color:#00aced;}
.list-group-item.active .text-muted{color:#ace4f5!important}
.list-group-item.active a{color:#fff}
.list-group-alt .list-group-item:nth-child(2n+2){background-color:rgba(0,0,0,0.02)!important}
.list-group-lg .list-group-item{padding-top:15px;padding-bottom:15px; border-bottom:1px solid #eee;}
.list-group-sm .list-group-item{padding:6px 10px}
.list-group-sp .list-group-item{margin-bottom:5px;border-radius:3px}
.list-group-item>.badge{margin-right:0}
.list-group-item>.fa-chevron-right{float:right;margin-top:4px;margin-right:-5px}
.list-group-item>.fa-chevron-right+.badge{margin-right:5px}
.list-group-item{display:block;padding-right:15px;border:1px solid #ddd;margin-bottom:-1px}
.list-group-item.active,.list-group-item.active:hover{color:#fff;background-color:#00aced;}
.list-group.side-class .list-group-item-heading{ background:#f8f8f8; padding:10px 15px; margin:0; }
.list-group.side-class .list-group-item-heading h4{ margin:0;}
.list-group.side-class .sub-heading{ border:1px solid #eee; border-width:1px 0; font-size:14px; padding:10px 15px; margin:0; color:#666; }
.table-responsive,.panel{border-radius: 0px;}
.panel-title{font-weight:bold;}
.table > thead > tr > th,.table > tbody > tr > th,.table > tfoot > tr > th,.table > thead > tr > td,.table > tbody > tr > td,.table > tfoot > tr > td{padding:8px 15px;line-height:1;vertical-align:middle;border-top: 1px solid #ddd;color:#555;}
.table > thead > tr > th{vertical-align:middle;border-bottom: 1px double #ddd;font-weight:bold;color:#000;}
.popover{min-width:320px;}
.aside{font-size:14px;margin-bottom:20px}
.aside .list-group-item i{position:relative;top:4px;font-size:24px;vertical-align:middle}
.article p{opacity:.87;font-size:14px;text-indent:28px}
.fixes-top{position:relative;margin-top:83px;z-index:10010;}
.navbar-toggle{background:#29b6f6;margin-top:8px 0 0;}
.navbar-toggle .icon-bar{background:#fff}
.navbar{background:#303030;font-size:1em;box-shadow:0 1px 0 rgba(0,0,0,0.1);opacity:.95;z-index:20020;border:none;}
.navbar-nav>li>a{line-height:40px;color:#fff;font-weight:bold;text-align:center; padding:0;}
.navbar-nav>li>a:hover{color:#29b6f6}
.site-nav.nav.navbar-nav>li{border-bottom:1px solid #444;}
.site-nav.nav.navbar-nav>li:hover,.site-nav.navbar-nav>li:active{}
.site-nav.nav.navbar-nav>li:hover a,.site-nav.navbar-nav>li:active a{ background:transparent;}
.site-nav.nav.navbar-nav>li.active{}
.icon.box{margin-right:10px}.icon.box{border-radius:3px;padding:5px}.icon.box i[class^="icon-"],.icon.box i[class*=" icon-"]{display:inline-block;vertical-align:middle;padding:0}
.slider{height:auto;overflow:hidden;}
.bx-wrapper{width:100%;position:relative;padding:0;*zoom:1;margin:0;float:left;}
.bx-wrapper img{max-width:100%;display:block;}
.bx-wrapper .bx-viewport{}
.bx-wrapper .bx-pager,.bx-wrapper .bx-controls-auto{position:absolute;bottom:0px;width:100%;}
.bx-wrapper .bx-loading{min-height:50px;background:url(../images/bx_loader.gif) center center no-repeat #fff;height:100%;width:100%;position:absolute;top:0;left:0;z-index:2000;}
.bx-wrapper .bx-pager{text-align:center;font-size:.85em;font-family:Arial;font-weight:bold;color:#666;padding-top:20px;}
.bx-wrapper .bx-pager .bx-pager-item,.bx-wrapper .bx-controls-auto .bx-controls-auto-item{display:inline-block;*zoom:1;*display:inline;}
.bx-wrapper .bx-pager.bx-default-pager a{background:#f00;text-indent:-9999px;display:block;width:6px;height:6px;margin:0 5px;outline:0;border-radius:3px;opacity:0.5;}
.bx-wrapper .bx-pager.bx-default-pager a:hover,.bx-wrapper .bx-pager.bx-default-pager a.active{background:#fff;opacity:1;}
.bx-wrapper .bx-prev,.bx-wrapper .bx-next{font-family: 'coinport';font-size:32px;color:#fff;opacity:0.2;display:none;}
.bx-wrapper .bx-prev:hover,.bx-wrapper .bx-next:hover,.bx-wrapper .bx-prev:active,.bx-wrapper .bx-next:active{opacity:1;}
.bx-wrapper .bx-prev{left:-30px;cursor:pointer;}
.bx-wrapper .bx-next{right:-30px;cursor:pointer;}
.bx-wrapper .bx-controls-direction a{position:absolute;top:45%;outline:0;width:32px;z-index:99;}
.bx-wrapper .bx-controls-direction a.disabled{display:none;}
.bx-wrapper .bx-controls-auto{text-align:center;}
.bx-wrapper .bx-controls-auto .bx-start{display:block;text-indent:-9999px;width:10px;height:11px;outline:0;background:url url(../images/controls.png) -86px -11px no-repeat;margin:0 3px;}
.bx-wrapper .bx-controls-auto .bx-start:hover,.bx-wrapper .bx-controls-auto .bx-start.active{background-position:-86px 0;}
.bx-wrapper .bx-controls-auto .bx-stop{display:block;text-indent:-9999px;width:9px;height:11px;outline:0;background:url(../images/controls.png) -86px -44px no-repeat;margin:0 3px;}
.bx-wrapper .bx-controls-auto .bx-stop:hover,.bx-wrapper .bx-controls-auto .bx-stop.active{background-position:-86px -33px;}
.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager{text-align:left;width:80%;}
.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto{right:0;width:35px;}
.bx-wrapper .bx-caption{position:absolute;bottom:0;left:0;background:#666\9;background:rgba(80,80,80,0.75);width:100%;}
.bx-wrapper .bx-caption span{color:#fff;font-family:Arial;display:block;font-size:.85em;padding:10px;}
.table.project-herun > thead > tr > th{ text-align:center}
.table.project-herun > tbody > tr > td{padding:15px 15px;}
.table.project-herun > thead > tr > th:first-child,.table.project-herun > tbody > tr > td:first-child{ text-align:left;}
.footer-nav li{position:relative;list-style:none;}
.footer-nav li a{ color:#666;}
.footer-nav li a:hover,.footer-nav li a:active{ color:#00aced;}
.footer-nav h5{ color:#666;}
.footer-nav ul li:before{position: absolute ;left:-14px;top:7px;width:4px;height:4px;content:'';border-radius:2px;background:#666;}
.footer-nav ul li:hover:before{background:#00aced;}
.feature{}
.feature .icons-box:hover,.feature .icons-box:focus,.feature .icons-box:active{color:#29b6f6}
.feature .icons-box em.icon-circle-lg{ background:#ddd; width:100px; height:100px;  line-height:100px; text-align:center; border-radius:50%; }
.feature .icons-box em.icon-circle-lg i{ position:relative; top:3px; color:#fff; padding:0;}
.feature .icons-box:hover em.icon-circle-lg{ background:#29b6f6;}
.feature .icons-box:hover em.icon-circle-lg i{ color:#fff }
.feature .icons-box:hover em i,.feature .icons-box:focus em i,.feature .icons-box:active em i{color:#29b6f6}
.feature .icons-box{display:inline-block;width:100%;padding:30px 0;box-sizing:border-box}
.feature .icons-box em{display:inline-block;position:relative;padding:10px 10px 0;z-index:101;}
.feature .icons-box p{opacity:.87;max-width:280px;margin:auto;text-align:center;line-height:1.5; font-size:12px;}
.thumb{position:relative; margin-bottom:20px; border-radius:6px; }
.thumb img{border-top-left-radius:6px;border-top-right-radius:6px;}
.thumb.img img{border-radius:6px;}
.thumb .content{border-bottom-left-radius:6px;border-bottom-right-radius:6px;}
.thumb-ad{padding:0 30px;}
.thumb-ad img{border-radius:6px;}
.overlay{left:0; top:0; position:absolute; height:100%; width:100%;}
.thumb:hover .overlay,.thumb:active .overlay{background:#fff; display:block;opacity:0.5;}
.thumb img{width:100%;}
.thumb .content{background:#fff; padding:10px;}
.thumb:hover{background:#eee; opacity:0.87;}
.thumb .content h2{font-size:14px; width:100%; line-height:20px; margin:5px 0 10px; font-weight:bold; white-space:nowrap; text-overflow:ellipsis; overflow:hidden;}
.thumb .content p,.thumb .content h6{ color:#666; font-size:12px;}
.thumb .content h6{ color:#e23747;}
.thumb .content .down{ padding:16px 0 17px 0;}
.section.heading{position:relative;padding:5px 0;margin-bottom:15px;}
.section.heading h4{display:inline-block;font-size:14px;margin:0;font-weight:bold;}
.icon.section.heading{border-bottom:1px solid #ddd;}
.icon.section.heading:after{}
.icon.section.heading h4:before{position:absolute;left:0;bottom:-12px;content: "";display:block;height: 3px;width:14px;background: #03a9f4;margin:5px auto 10px auto;}
.navbar-brand{display:inline-block;position:relative;width:200px; top:7px; left:15px;height:auto;margin:0 0;padding:0; }
.navbar-brand .icon-logo{ font-size:2em;}
.navbar-brand .icon-logo-font{ position:relative;top:5px; left:10px; font-size:1.5em;}
.navbar-brand i{ color:#00aced}
.top-bar i{position:relative;top:-1px;font-size:12px;vertical-align:middle;}
.top-bar{padding:5px 0 10px 0;color:#999;font-size:12px;}
.top-bar a{ color:#fff;}
.top-bar a:hover,.top-bar a:active{color:#fff;}
footer{position:relative;bottom:0;width:100%;}
footer h5{color:#999;}
footer li{list-style:outside;margin-left:-24px;}
footer .site-mark > span{display:inline-block;}
footer .site-mark > span:hover{ opacity:0.87;}
footer .site-mark img{width:100%;}
.table > thead > tr > th{font-size:12px;color:#666;font-weight:normal;padding:15px;}
.progress-sm{height:6px;border-radius:3px;}
.progress{box-shadow:none;background:#ccc;}
.row-4x-xs{margin:0}
.appscreen{ position:relative; top:-20px; background:url(./appbg.jpg); background-size:cover; padding:30px 0;}
.app-info{ margin:0 auto 30px; padding:0 15px; max-width:360px; }
.app-info h2{ color:#03a9f4; font-size:2em; text-align:center; margin-bottom:}
.app-info p > span{ display:inline-block; color:#fff; font-size:1em; width:260px; margin:10px auto;}
.app-info .app-btn{ padding:15px 20px; margin-bottom:10px;}
.media img{ margin-bottom:10px;}
.join h2{ font-size:1.6em;}
.qrcode .popover img{ width:150px; height:150px;}
.qrcode.popover{ min-width:150px; z-index:30000;}
.media-url{}
.media-url img{ border:1px solid #ddd; border-radius:6px;}
.media-url img:hover{ border:1px solid #eee;}
.icons-box i{ padding-right:0;}
.service .item{ display:table; width:100%; height:100%; margin-bottom:15px; }
.service .icons-box{ display:table-cell; width:100%; height:260px; padding:20px;border-radius:6px; vertical-align: middle; color:#fff;}
.service .icons-box p{ position:relative; top:20px}
.service .icons-box i{ color:#fff;}
.icon-service1{ background:url(../images/icon-service-1.png) no-repeat;}
.icon-service2{ background:url(../images/icon-service-2.png) no-repeat;}
.icon-service3{ background:url(../images/icon-service-3.png) no-repeat;}
.icon-service4{ background:url(../images/icon-service-4.png) no-repeat;}
.icon-service5{ background:url(../images/icon-service-5.png) no-repeat;}
.icon-service1,.icon-service2,.icon-service3,.icon-service4,.icon-service5{ display:inline-block; background-size:128px 128px; width:128px; height:128px;}
.qrcode img{ width:100%; background:url(../images/qrcode.png);}
.qrcode span{ display:inline-block;width:200px; height:200px; margin:auto;}
.qrcode  p{ color:#fff; padding-top:20px;}
@media(max-width:767px) and (orientation:landscape){}
@media(max-width:768px){
	
	.logo .logo_pic{width:120px;height:auto;}
	.icon-herun-font-en.text-dark{
		display: none;
		}
		table{border:1px solid #a1b9dc;height:325px;margin: 3rem auto;}
table tr td,th{text-align: center;border:1px solid #a1b9dc;}
ul li{list-style-type: decimal;}
table tr th{background: #00acf0;}
h4,table tr td,th{font-weight: bold;font-size: 1.8rem;}
h3{font-size: 3rem;}
table tr th{font-size: 2rem;color:white;}
table tr td{padding:0;margin:auto 30px;}
.V_master{background: #fdf8dd;}
.th_name,.th_income{width:10rem;}
.panel-body ul li,.panel-body ul a li,.promote,.promote ul li{list-style-type: none;margin-top: 2rem;}
.require,.promote,.free,.contact{font-weight: bold;font-size: 1.6rem;}
.panel-body{font-size: 1.8rem;}
}
@media(min-width:768px){.copyright{padding:20px 0;font-size:12px;}

.app-info h1{ color:#fff; font-size:4em; }
 .navbar-fixed-top{ position:relative;}
.navbar-nav>li>a{line-height:50px;padding:0 20px;}
.fixes-top{margin-top:0; min-height:600px;}
.navbar-toggle{margin-top:15px}
.top-bar{ height:110px; }
.navbar-brand{ position:absolute; top:-90px; width:auto; left:30px;color:#fff;}
.navbar-brand .icon-logo{ font-size:4em;}
.navbar-brand .icon-logo-font{ position:relative;top:8px; left:10px; font-size:3em;}
.navbar-brand i{ color:#fff}
.app-info{ position:relative; top:50px; max-width:none;}
.app-info h1{ text-align:left;}
.site-nav{}
.navbar{ font-size:1.1em;}
.site-nav.nav.navbar-nav>li,.user-state.nav.navbar-nav>li{border-bottom:none;}
.site-nav.nav.navbar-nav>li.active,.site-nav.nav.navbar-nav>li.active:hover{border-bottom:none; color:#29b6f6;}
.site-nav.nav.navbar-nav>li.active a,.site-nav.nav.navbar-nav>li.active:hover a{color:#29b6f6;}
.site-nav.nav.navbar-nav>li:hover a{background:transparent;}
.row-4x-xs{margin:0 -20px}}


@media(min-width:992px){}
@media(min-width:768px) and (max-width:991px){.fixes-top{margin-top:120px}
#sidebar{float:none;position:relative;width:100%;height:auto;top:15px;}
.navbar-brand{ position:absolute; top:-60px; width:auto;}
.top-bar{ height:70px; }
/* .navbar-brand .icon-logo{ font-size:3em;}
.navbar-brand .icon-logo-font{ position:relative;top:8px; left:10px; font-size:2.5em;} 
.navbar-brand .logo{background: blue;width:3rem;height:2rem;}  */
}
@media(min-width:1200px){.bx-wrapper .bx-prev,.bx-wrapper .bx-next{display:block;}}
@media(min-width:768px) and (max-width:1024px){
	.logo .logo_pic {
		width:170px;height:auto;
	}
	.icon-herun-font-en.text-dark{
		display: none;
	}
}

table{border:1px solid #a1b9dc;width:795px;height:325px;margin: 3rem auto;}
table tr td,th{text-align: center;border:1px solid #a1b9dc;}
ul li{list-style-type: decimal;}
table tr th{background: #00acf0;}
h4,table tr td,th{font-weight: bold;font-size: 1.8rem;}
h3{font-size: 3rem;}
table tr th{font-size: 2rem;color:white;}
table tr td{padding:0;margin:auto 30px;}
.V_master{background: #fdf8dd;}
.th_name,.th_income{width:10rem;}
.panel-body ul li,.panel-body ul a li,.promote,.promote ul li{list-style-type: none;margin-top: 2rem;}
.require,.promote,.free,.contact{font-weight: bold;font-size: 1.6rem;}
.panel-body{font-size: 1.8rem;}


